html, body{
  margin:0;
  padding:0;
  font-family:Arial, 'Open Sans';
  font-weight:300;
  font-size:1.6rem;
  background:white;
}

* {
  box-sizing: border-box;
}

main{
  display:grid;
  grid-auto-flow: column;
  place-items: center;
  height:100vh;
  background:#fed766;
}

.circle{
  width:16vw;
  height:16vw;
  position: relative;
}

.circle img{
  width:100%;
}

.circle img::after{
  content:'';
  position:absolute;
  width:16vw;
  height:16vw;
  border-radius:50%;
  overflow:hidden;
}