body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000; }

main {
  /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to some value i.e 2px. This is essentailly the simulated distance from the viewport to transformed objects. The lower the value, the further away objects appear*/
  perspective: 2px;
  /* Sets the actual background images to adorable kitties. This part is crucial. */ }
  main section {
    /* The height of the container. Must be set, use it to affect the distance between sections. */
    height: 100vh;
    /* For text formatting. */
    display: grid;
    place-items: center;
    color: white; }
    main section .content {
      width: 50%;
      padding: 40px;
      background-color: rgba(100, 100, 100, 0.7); }
  main .parallax {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* Move the element back away from the camera,
         * then scale it back up to fill the viewport.
         * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1; }
    main .parallax .content {
      width: 25vw;
      margin: 5vh 0 0 60vw;
      background-color: rgba(50, 50, 50, 0.5); }
  main .bg {
    background-image: url("./img/background.png");
    background-repeat: repeat-y;
    height: 10000px;
    transform: translateZ(-4px) scale(8);
    z-index: -3; }
  main .bg1 {
    background-image: url("./img/planet1.png"); }
  main .bg2 {
    background-image: url("./img/planet2.png");
    background-position: right center;
    height: 100vh;
    transform: translateZ(-1px) scale(calc(1.5/1.5)); }
