$perspective : 2px;
$translateZ : -1px;
$scale : 1.5;

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

main {
    /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    max-height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: hidden;
    /* Set the perspective to some value i.e 2px. This is essentailly the simulated distance from the viewport to transformed objects. The lower the value, the further away objects appear*/
    perspective: $perspective;

    // Background will have a preset vertical image behind all scenes.
    section {
        /* The height of the container. Must be set, use it to affect the distance between sections. */
        height: 100vh;
        /* For text formatting. */
        display: flex;
        justify-content:center;
        align-items: center;
        color: white;
        //Individual styling for content box
        .content {
            width: 50%;
            padding: 40px;
            background-color: #aaa;
        }
    }
    .parallax {
        position: absolute;
        height:100vh;
        width:100vw;
        /* Move the element back away from the camera,
         * then scale it back up to fill the viewport.
         * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
         transform: translateZ($translateZ) scale($scale);
         /* Force the background image to fill the whole element. */
         background-position: center;
         background-repeat: no-repeat;
         /* Keep the image from overlapping sibling elements. */
         z-index: -1;
    }

    /* Sets the actual background images to adorable kitties. This part is crucial. */
    .bg1{
        background-image:url('./img/forest_x2.jpg');
        z-index:-3;
    }
    .bg2{
        background-image: url('./img/tree_x2_webp.webp');
    }
}
